  <!-- ======= Footer ======= -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-3 col-md-6 footer-links">
					<ul>
						<li><i class="ion-ios-arrow-right"> <a href="{{ path('homepage') }}">Accueil</a></i>
						<li><i class="ion-ios-arrow-right"> <a href="{{ path('account_register') }}">Inscription</a></i>
						<li><i class="ion-ios-arrow-right"> <a href="#">services</a></i>
						<li><i class="ion-ios-arrow-right"> <a href="#">nos sponsors</a></i>					
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-contact">
					<h4>Suivez-nous sur les réseaux sociaux</h4>
					<div class="social-links">
						<a href="https://twitter.com/allo7rayfi"class="twitter">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="https://facebook.com/allo7rayfi" class="facebook">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="https://www.instagram.com/allo7rayfi/" class="instagram">
							<i class="fa fa-instagram"></i>
						</a>
						<a href="#" class="google-plus">
							<i class="fa fa-google-plus"></i>
						</a>
						<a href="#"	class="linkedin">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 footer-newsletter">
					<h4>Politique de confidentialité</h4>
					<p>Vous avez la possibilité d'accepter ou de refuser la collecte et l'utilisation de
                     vos Données Personnelles dans le but susmentionné en paramétrant vos préférences 
                     de confidentialité sur le tableau de bord de confidentialité accessible via 
                     id.allo7rayfi.com</p>
					<a href="#">Allo7rayfi Page de confidentialité</a>
				</div>
				
				<div class="footer-info">
					<a href="{{ path('homepage') }}"><img src="/img/Logo.png" alt=""></a>
				</div>
				
			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong>Allo7rayfi.ma</strong> 2020. Tous les droits sont réservés
		</div>
		<div class="credits">
			<a href="{{ path('homepage') }}">Allo7rayfi.ma</a>
		</div>
	</div>
</footer>
<!-- End Footer -->